html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Montserrat', sans-serif;
  /* overflow-x: hidden; */
}

/* NAVBAR */
.navbar,
.navbar .container,
.navbar-nav {
  overflow: visible !important;
  position: relative;
  z-index: 1000;
}

/* DROPDOWN PARENT */
.dropdown-custom {
  position: relative;
}

/* DROPDOWN MENU */
.dropdown-menu-custom {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-width: 200px;
  z-index: 2000;
}

/* ITEM */
.dropdown-menu-custom li {
  padding: 5px 20px;
}

.dropdown-menu-custom li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu-custom li a:hover {
  color: #de9204;
}

/* SHOW DROPDOWN */
.dropdown-custom:hover .dropdown-menu-custom {
  display: block;
}

/* NAV LINK */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 6px;
}

/* UNDERLINE ANIMATION */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.title-anim,
.desc-anim,
.desc2-anim,
.btn-anim {
  opacity: 0;
}

.carousel-item.active .title-anim {
  animation: slideRight 1s forwards;
}

.carousel-item.active .desc-anim {
  animation: slideUp 1s forwards;
  animation-delay: 0.3s;
}

.carousel-item.active .desc2.anim {
  animation: slideUp 1s forwards;
  animation-delay: 0.6s;
}

.carousel-item.active .btn-anim {
  animation: slideRight 1s forwards;
  animation-delay: 0.9s;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-social a {
  text-decoration: none;
}

/* SECTION SIDEBAR */
.sidebar-category-product{
    padding:20px 20px 20px 0;
    width:280px;
    flex-shrink:0;
}

/* BOX SIDEBAR */
.sidebar-category{
    background:#fff;
    border-radius:10px;
    /* box-shadow:0 4px 15px rgba(0,0,0,0.08); */
    padding:15px 0;
    height:100%;
    position:sticky;
    top:90px;
}

/* HEADER */
.sidebar-category-header{
    padding:10px 20px;
    border-bottom:1px solid #eee;
}

.sidebar-category-header h6{
    margin:0;
    font-weight:600;
}

/* MENU LIST */
.sidebar-menu-category{
    list-style:none;
    padding:0;
    margin:0;
}

/* ITEM */
.sidebar-menu-category li{
    border-bottom:1px solid #f3f3f3;
}

/* LINK */
.sidebar-menu-category li a{
    display:flex;
    align-items:center;
    gap:8px;
    padding:12px 20px;
    text-decoration:none;
    color:#333;
    font-size:14px;
    transition:all 0.3s ease;
}

/* ICON */
.sidebar-menu-category li a i{
    font-size:12px;
    transition:transform 0.3s ease;
}

/* HOVER EFFECT */
.sidebar-menu-category li a:hover{
    background:#f8f8f8;
    color:#de9204;
}

/* ICON MOVE WHEN HOVER */
.sidebar-menu-category li a:hover i{
    transform:translateX(4px);
}

/* SCROLLBAR STYLE */
.sidebar-category::-webkit-scrollbar{
    width:6px;
}

.sidebar-category::-webkit-scrollbar-thumb{
    background:#ddd;
    border-radius:5px;
}

.sidebar-category::-webkit-scrollbar-thumb:hover{
    background:#bbb;
}

.product-section{
    display:flex;
    gap:30px;
    padding:20px 20px 20px 0; /* kiri 0 agar menempel */
    align-items:flex-start;
}

/* area produk */
.product-content{
    flex:1;
}