html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar,
.navbar .container,
.navbar-nav {
  overflow: visible !important;
  position: relative;
  z-index: 1000;
}

/* Paksa semua slide sama tinggi */
.carousel-item {
  min-height: 360px;
  background: none; /* reset background */
}

/* Slide 1 - background image */
.hero-slide {
  background: url('img/banner.jpg') center/cover no-repeat !important;
  position: relative;
  min-height: 400px
}

.slide-2 {
  background: url('img/section.png') center/cover no-repeat;
  position: relative;
  min-height: 400px;
}

/* Slide 2 & 3 - centering konten */
.slide-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.overlay{
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0.4); */
  z-index: 1;
}

.p-why {
  font-size: 16px;
}

.card-why {
  transition: all 0.3s ease;
}

.card-why:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* animasi icon */
.card-why i {
  transition: transform 0.3s ease;
}

.card-why:hover i {
  transform: scale(1.2) rotate(0deg);
}

.img-about {
  transition: all 0.3s ease;
}

.img-about:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.img-about:active,
.img-about:focus{
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-testimonial {
  transition: all 0.3s ease;
}

.card-testimonial:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-testimonial:active,
.card-testimonial:focus{
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-portfolio {
  transition: all 0.3s ease;
}

.card-portfolio:hover{
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-portfolio:active,
.card-portfolio:active {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.hero-slide .container{
  position: relative;
  z-index: 2;
}

.card-product-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box{
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img{
  max-height: 100%;
  width: auto;
}

.card-product-home h5{
  margin-top: 15px;
}

/* DROPDOWN PARENT */
.dropdown-custom {
  position: relative;
}

/* DROPDOWN MENU */
.dropdown-menu-custom {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-width: 200px;
  z-index: 2000;
}

/* ITEM */
.dropdown-menu-custom li {
  padding: 5px 20px;
}

.dropdown-menu-custom li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu-custom li a:hover {
  color: #de9204;
}

/* SHOW DROPDOWN */
.dropdown-custom:hover .dropdown-menu-custom {
  display: block;
}

/* NAV LINK */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 6px;
}

/* UNDERLINE ANIMATION */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.title-anim,
.desc-anim,
.desc2-anim,
.btn-anim {
  opacity: 0;
}

.desc-anim {
  font-size: 15px;
}

.carousel-item.active .title-anim {
  animation: slideRight 1s forwards;
}

.carousel-item.active .desc-anim {
  animation: slideUp 1s forwards;
  animation-delay: 0.3s;
}

.carousel-item.active .desc2.anim {
  animation: slideUp 1s forwards;
  animation-delay: 0.6s;
}

.carousel-item.active .btn-anim {
  animation: slideRight 1s forwards;
  animation-delay: 0.9s;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-social a {
  text-decoration: none;
}

/* SECTION SIDEBAR */
.sidebar-category-product{
    padding:20px 20px 20px 0;
    width:280px;
    flex-shrink:0;
}

/* BOX SIDEBAR */
.sidebar-category{
  background:#fff;
  border-radius:10px;
  /* box-shadow:0 4px 15px rgba(0,0,0,0.08); */
  padding:15px 0;
  height:100vh;
  position:sticky;
  top:90px;
  overflow-y: auto;
}

/* HEADER */
.sidebar-category-header{
  padding:10px 20px;
  border-bottom:1px solid #eee;
   position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.sidebar-category-header h6{
  margin:0;
  font-weight:600;
}

/* MENU LIST */
.sidebar-menu-category{
  list-style:none;
  padding:0;
  margin:0;
}

/* ITEM */
.sidebar-menu-category li{
  border-bottom:1px solid #f3f3f3;
}

/* LINK */
.sidebar-menu-category li a{
  display:flex;
  align-items:center;
  gap:8px;
  padding:12px 20px;
  text-decoration:none;
  color:#333;
  font-size:14px;
  transition:all 0.3s ease;
}

/* ICON */
.sidebar-menu-category li a i{
  font-size:12px;
  transition:transform 0.3s ease;
}

/* HOVER EFFECT */
.sidebar-menu-category li a:hover{
  background:#f8f8f8;
  color:#de9204;
}

/* ICON MOVE WHEN HOVER */
.sidebar-menu-category li a:hover i{
  transform:translateX(4px);
}

/* SCROLLBAR STYLE */
.sidebar-category::-webkit-scrollbar{
  width:6px;
}

.sidebar-category::-webkit-scrollbar-thumb{
  background:#ddd;
  border-radius:5px;
}

.sidebar-category::-webkit-scrollbar-thumb:hover{
  background:#bbb;
}

.product-section{
  display:flex;
  gap:30px;
  padding:20px 20px 20px 0; /* kiri 0 agar menempel */
  align-items:flex-start;
}

/* area produk */
.product-content{
  flex:1;
}

.product-group {
  display: none;
}

.product-group.active {
  display: block !important;
}

.card-text {
  font-size: 12px;
}

.product-card{
  height:100%;
  display:flex;
  flex-direction:column;
}

.product-card img{
  height:150px;
  object-fit:contain;
  margin-bottom:15px;
}

.product-card .card-body{
  flex-grow:1;
}

.lunchbox {
  position: relative;
  overflow: visible;
}

/* IMAGE */
.lunchbox-img {
  position: absolute;
  right: -30px;        /* lebih dekat ke teks */
  top: 50%;
  transform: translateY(-50%);
  height: 450px;
  max-height: 560px;
  object-fit: contain;
  z-index: 2;
}


.center-img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  max-width: 180px;

  z-index: 2;
}

.product-image-functional {
    width: 480px;
    margin-top: 150px;
  }

  .product-card {
  position: relative;
  min-height: 360px;   /* tinggi section tetap */
  overflow: visible;   /* supaya gambar tidak terpotong */
}

.product-image {
  position: absolute;
  left: -350px;
  bottom: -220px;
  max-height: 1000px;
  height: 500px;

  object-fit: contain;
  z-index: 5;

  transform: rotate(30deg);
  transform-origin: bottom right;
}

.product-title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
}

.product-sub {
    font-size: 12px;
    opacity: 0.9;
}

.product-section-pen{
    min-height: 350px;
    display: flex;
    align-items: center;
}

.product-image-pen{
    max-height: 220px;
    object-fit: contain;
}

#toggleCategory i{
  font-size: 18px;
}

#product{
  scroll-margin-top: 80px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 768px){
  .product-section{
    flex-direction: column;
    gap: 15px;
  }

  .sidebar-category-product {
    position: fixed;
    margin-top: 60px;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    background: #fff;
    z-index: 999;
    padding: 0;
    transition: all 0.3s ease;
  }

  /* SAAT MUNCUL */
  .sidebar-category-product.show {
    left: 0;
  }

  /* INNER SIDEBAR */
  .sidebar-category {
    height: 100%;
    border-radius: 0;
  }

  /* OVERLAY GELAP */
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 998;
  }

  .sidebar-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .sidebar-menu-category li a:hover{
  background:#f8f8f8;
  color:#de9204;
}

/* ICON MOVE WHEN HOVER */
.sidebar-menu-category li a:hover i{
  transform:translateX(4px);
}

/* SCROLLBAR STYLE */
.sidebar-category::-webkit-scrollbar{
  width:6px;
}

.sidebar-category::-webkit-scrollbar-thumb{
  background:#ddd;
  border-radius:5px;
}

.sidebar-category::-webkit-scrollbar-thumb:hover{
  background:#bbb;
}

  .functional-text{
    position: static;
    text-align: center;
    padding: 15px;
  }

  .product-title{
    font-size: 28px;
    line-height: 1.2;
  }

  .product-sub{
    font-size: 14px;
  }

  .product-image-functional{
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
  }

  .functional-products-section{
    position: static;
    padding-right: 20px;
    width: 275px;
  }

  .product-section-pen{
    position: static;
    padding-right: 20px;
    width: 275px;
  }

  .mb-100{
    margin-bottom: 20px !important;
  }

  .card-product{
    width: 100%;
    margin: 0 auto;
  }
  
  .carousel-item {
    height: auto !important; /* paksa override height fixed */
    min-height: unset !important;
  }

   .slide-wrapper {
    padding: 30px 15px;
    overflow: visible;
    min-height: 450px;
  }

  .slide-wrapper .row {
    flex-direction: column;
    text-align: center;
  }

  .slide-wrapper h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .slide-wrapper p {
    font-size: 0.9rem;
  }

  /* ID Card */
  .slide-wrapper img[src*="id-card"] {
    margin-top: 20px;
    max-width: 120px !important;
    width: 120px !important;
  }

 .slide-wrapper img[src*="Box"] {
    margin-top: 10px;
    max-width: 180px !important;
    width: 180px !important;
  }

  .carousel-inner {
    overflow: visible !important;
  }

  .carousel {
    overflow: hidden;
  }

  .hero-slide {
    min-height: 150px !important;
  }

  .slide-2 {
    min-height: 150px;
  }
}
